/*
 * Axioma OMNI currency rates REST API
 * Получение информации по официальным курсам валют ЦБ и курсам металлов. Промышленный сервис находится по адресу https://, тестовый сервис - по адресу https://ingress-ds1-genr01-fxrt-dev1.apps.ds1-genr01.corp.dev.vtb/fxrates-cbr/v1/api
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: vizgalov@vtb.ru
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.GlobalErrorResponse;
import org.threeten.bp.LocalDate;
import org.openapitools.client.model.MetalsOnDateResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MetalRatesControllerApi {
    private ApiClient localVarApiClient;

    public MetalRatesControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MetalRatesControllerApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for metals
     * @param date Дата получения курса. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешное получение информации по курсам металлов ЦБ. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Неверный параметр запроса. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Пользователь не авторизован. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Неверный адрес запроса. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Внутренняя ошибка. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call metalsCall(LocalDate date, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/cbr/metal_prices";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (date != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("date", date));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call metalsValidateBeforeCall(LocalDate date, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = metalsCall(date, _callback);
        return localVarCall;

    }

    /**
     * Получение информации по ценам драгоценных металлов
     * Получение информации по ценам драгоценных металлов.
     * @param date Дата получения курса. (optional)
     * @return MetalsOnDateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешное получение информации по курсам металлов ЦБ. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Неверный параметр запроса. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Пользователь не авторизован. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Неверный адрес запроса. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Внутренняя ошибка. </td><td>  -  </td></tr>
     </table>
     */
    public MetalsOnDateResponse metals(LocalDate date) throws ApiException {
        ApiResponse<MetalsOnDateResponse> localVarResp = metalsWithHttpInfo(date);
        return localVarResp.getData();
    }

    /**
     * Получение информации по ценам драгоценных металлов
     * Получение информации по ценам драгоценных металлов.
     * @param date Дата получения курса. (optional)
     * @return ApiResponse&lt;MetalsOnDateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешное получение информации по курсам металлов ЦБ. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Неверный параметр запроса. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Пользователь не авторизован. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Неверный адрес запроса. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Внутренняя ошибка. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<MetalsOnDateResponse> metalsWithHttpInfo(LocalDate date) throws ApiException {
        okhttp3.Call localVarCall = metalsValidateBeforeCall(date, null);
        Type localVarReturnType = new TypeToken<MetalsOnDateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Получение информации по ценам драгоценных металлов (asynchronously)
     * Получение информации по ценам драгоценных металлов.
     * @param date Дата получения курса. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешное получение информации по курсам металлов ЦБ. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Неверный параметр запроса. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Пользователь не авторизован. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Неверный адрес запроса. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Внутренняя ошибка. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call metalsAsync(LocalDate date, final ApiCallback<MetalsOnDateResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = metalsValidateBeforeCall(date, _callback);
        Type localVarReturnType = new TypeToken<MetalsOnDateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
